h1{
    color: blue;
    }
  img {
    max-width: 400px;
    height: auto;
      }

  #thirdDiv{
    max-width: 600px;
    height: 500px;
    background-color: blueviolet;
    padding: 50px;
    border: 10px solid;
        }
  
  #spanId{
    font-size: 18px;
    margin: 50px;
  }